
build/generated/assets/
build/generated/res/
build/generated/source/aidl/
build/generated/source/apt/test/
build/generated/source/rs/
build/intermediates/data-binding-info/
build/intermediates/dependency-cache/
build/intermediates/exploded-aar/com.alipay.euler/andfix/0.4.0/aidl/
build/intermediates/exploded-aar/com.alipay.euler/andfix/0.4.0/assets/
build/intermediates/exploded-aar/com.alipay.euler/andfix/0.4.0/res/
build/intermediates/exploded-aar/com.android.databinding/adapters/1.2.1/aidl/
build/intermediates/exploded-aar/com.android.databinding/adapters/1.2.1/assets/
build/intermediates/exploded-aar/com.android.databinding/adapters/1.2.1/jni/
build/intermediates/exploded-aar/com.android.databinding/library/1.2.1/aidl/
build/intermediates/exploded-aar/com.android.databinding/library/1.2.1/assets/
build/intermediates/exploded-aar/com.android.databinding/library/1.2.1/jni/
build/intermediates/exploded-aar/com.android.support.test.espresso/espresso-core/2.2.2/aidl/
build/intermediates/exploded-aar/com.android.support.test.espresso/espresso-core/2.2.2/assets/
build/intermediates/exploded-aar/com.android.support.test.espresso/espresso-core/2.2.2/res/
build/intermediates/exploded-aar/com.android.support.test.espresso/espresso-idling-resource/2.2.2/aidl/
build/intermediates/exploded-aar/com.android.support.test.espresso/espresso-idling-resource/2.2.2/assets/
build/intermediates/exploded-aar/com.android.support.test.espresso/espresso-idling-resource/2.2.2/res/
build/intermediates/exploded-aar/com.android.support.test/exposed-instrumentation-api-publish/0.5/aidl/
build/intermediates/exploded-aar/com.android.support.test/exposed-instrumentation-api-publish/0.5/assets/
build/intermediates/exploded-aar/com.android.support.test/exposed-instrumentation-api-publish/0.5/res/
build/intermediates/exploded-aar/com.android.support.test/rules/0.5/aidl/
build/intermediates/exploded-aar/com.android.support.test/rules/0.5/assets/
build/intermediates/exploded-aar/com.android.support.test/runner/0.5/aidl/
build/intermediates/exploded-aar/com.android.support.test/runner/0.5/assets/
build/intermediates/exploded-aar/com.android.support.test/runner/0.5/res/
build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.3.0/aidl/
build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.3.0/assets/
build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.3.0/jni/
build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.3.0/res/
build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.3.0/aidl/
build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.3.0/assets/
build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.3.0/jni/
build/intermediates/exploded-aar/com.android.support/cardview-v7/25.3.0/aidl/
build/intermediates/exploded-aar/com.android.support/cardview-v7/25.3.0/assets/
build/intermediates/exploded-aar/com.android.support/cardview-v7/25.3.0/jni/
build/intermediates/exploded-aar/com.android.support/design/25.3.0/aidl/
build/intermediates/exploded-aar/com.android.support/design/25.3.0/assets/
build/intermediates/exploded-aar/com.android.support/design/25.3.0/jni/
build/intermediates/exploded-aar/com.android.support/multidex-instrumentation/1.0.1/assets/
build/intermediates/exploded-aar/com.android.support/multidex-instrumentation/1.0.1/res/
build/intermediates/exploded-aar/com.android.support/multidex/1.0.1/assets/
bui
ld/intermediates/exploded-aar/com.android.support/multidex/1.0.1/res/
build/intermediates/exploded-aar/com.android.support/recyclerview-v7/25.3.0/aidl/
build/intermediates/exploded-aar/com.android.support/recyclerview-v7/25.3.0/assets/
build/intermediates/exploded-aar/com.android.support/recyclerview-v7/25.3.0/jni/
build/intermediates/exploded-aar/com.android.support/support-compat/25.3.0/assets/
build/intermediates/exploded-aar/com.android.support/support-compat/25.3.0/jni/
build/intermediates/exploded-aar/com.android.support/support-compat/25.3.0/res/
build/intermediates/exploded-aar/com.android.support/support-core-ui/25.3.0/aidl/
build/intermediates/exploded-aar/com.android.support/support-core-ui/25.3.0/assets/
build/intermediates/exploded-aar/com.android.support/support-core-ui/25.3.0/jni/
build/intermediates/exploded-aar/com.android.support/support-core-ui/25.3.0/res/
build/intermediates/exploded-aar/com.android.support/support-core-utils/25.3.0/aidl/
build/intermediates/exploded-aar/com.android.support/support-core-utils/25.3.0/assets/
build/intermediates/exploded-aar/com.android.support/support-core-utils/25.3.0/jni/
build/intermediates/exploded-aar/com.android.support/support-core-utils/25.3.0/res/
build/intermediates/exploded-aar/com.android.support/support-fragment/25.3.0/aidl/
build/intermediates/exploded-aar/com.android.support/support-fragment/25.3.0/assets/
build/intermediates/exploded-aar/com.android.support/support-fragment/25.3.0/jni/
build/intermediates/exploded-aar/com.android.support/support-fragment/25.3.0/res/
build/intermediates/exploded-aar/com.android.support/support-media-compat/25.3.0/assets/
build/intermediates/exploded-aar/com.android.support/support-media-compat/25.3.0/jni/
build/intermediates/exploded-aar/com.android.support/support-media-compat/25.3.0/res/
build/intermediates/exploded-aar/com.android.support/support-v4/25.3.0/aidl/
build/intermediates/exploded-aar/com.android.support/support-v4/25.3.0/assets/
build/intermediates/exploded-aar/com.android.support/support-v4/25.3.0/jni/
build/intermediates/exploded-aar/com.android.support/support-v4/25.3.0/res/
build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.3.0/aidl/
build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.3.0/assets/
build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.3.0/jni/
build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.3.0/res/
build/intermediates/exploded-aar/com.android.support/transition/25.3.0/aidl/
build/intermediates/exploded-aar/com.android.support/transition/25.3.0/assets/
build/intermediates/exploded-aar/com.android.support/transition/25.3.0/jni/
build/intermediates/exploded-aar/com.antfortune.freeline/runtime-no-op/0.8.3/aidl/
build/intermediates/exploded-aar/com.antfortune.freeline/runtime-no-op/0.8.3/assets/
build/intermediates/exploded-aar/com.antfortune.freeline/runtime-no-op/0.8.3/jni/
build/intermediates/exploded-aar/com.antfortune.freeline/runtime-no-op/0.8.3/res/
build/intermediates/exploded-aar/com.antfortune.freeline/runtime/0.8.3/aidl/
build/intermediates/exploded-aar/com.antfortune.freeline/runtime/0.8.3/jni/
build/intermediates/exploded-aar/com.antfortune.freeline/runtime/0.8.3/res/
build/intermediates/exploded-aar/com.elbbbird.android/socialsdk/0.2.0/aidl/
build/intermediates/exploded-aar/com.elbbbird.android/socialsdk/0.2.0/assets/
build/intermediates/exploded-aar/com.jcodecraeer/xrecyclerview/1.3.2/aidl/
build/intermediates/explod
ed-aar/com.jcodecraeer/xrecyclerview/1.3.2/assets/
build/intermediates/exploded-aar/com.jcodecraeer/xrecyclerview/1.3.2/jni/
build/intermediates/exploded-aar/io.reactivex/rxandroid/1.2.1/aidl/
build/intermediates/exploded-aar/io.reactivex/rxandroid/1.2.1/assets/
build/intermediates/exploded-aar/io.reactivex/rxandroid/1.2.1/jni/
build/intermediates/exploded-aar/io.reactivex/rxandroid/1.2.1/res/
build/intermediates/exploded-aar/kongrongqi_shop_android/OpenSourceLibrary/unspecified/aidl/
build/intermediates/exploded-aar/kongrongqi_shop_android/OpenSourceLibrary/unspecified/assets/
build/intermediates/exploded-aar/kongrongqi_shop_android/OpenSourceLibrary/unspecified/jni/
build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
build/intermediates/incremental/mergeDebugResources/aapt-temp/
build/intermediates/incremental/mergeDebugResources/merged.dir/
build/intermediates/incremental/packageDebugAndroidTest/
build/intermediates/incremental/packageRelease/
build/intermediates/incremental/processDebugAndroidTestResources/
build/intermediates/incremental/processDebugResources/
build/intermediates/jniLibs/
build/intermediates/manifest/tmp/
build/intermediates/manifests/instant-run/
build/intermediates/pre-dexed/
build/intermediates/rs/
build/intermediates/shaders/
build/tmp/
build/intermediates/exploded-aar/com.jcodecraeer/xrecyclerview/1.3.2/assets/

OpenSourceLibrary/build/generated/assets/
OpenSourceLibrary/build/generated/res/
OpenSourceLibrary/build/generated/source/aidl/
OpenSourceLibrary/build/generated/source/apt/
OpenSourceLibrary/build/generated/source/rs/
OpenSourceLibrary/build/intermediates/bundles/debug/aidl/
OpenSourceLibrary/build/intermediates/bundles/debug/assets/
OpenSourceLibrary/build/intermediates/bundles/debug/jni/
OpenSourceLibrary/build/intermediates/bundles/release/aidl/
OpenSourceLibrary/build/intermediates/bundles/release/assets/
OpenSourceLibrary/build/intermediates/bundles/release/jni/
OpenSourceLibrary/build/intermediates/dependency-cache/
OpenSourceLibrary/build/intermediates/exploded-aar/com.alipay.euler/andfix/0.4.0/aidl/
OpenSourceLibrary/build/intermediates/exploded-aar/com.alipay.euler/andfix/0.4.0/assets/
OpenSourceLibrary/build/intermediates/exploded-aar/com.alipay.euler/andfix/0.4.0/res/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.3.0/aidl/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.3.0/assets/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.3.0/jni/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.3.0/res/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.3.0/aidl/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.3.0/assets/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.3.0/jni/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/design/25.3.0/aidl/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/design/25.3.0/assets/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/design/25.3.0/jni/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/25.3.0/aidl/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/25.3.0/assets/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/25.3.0/jni/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/support-compat/25.3.0/assets/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/support-compat/25.3.0/jni/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/support-compat/25.3.0/res/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.3.0/aidl/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.3.0/assets/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.3.0/jni/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.3.0/res/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.3.0/aidl/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.3.0/assets/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.3.0/jni/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.3.0/res/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/support-fragment/25.3.0/aidl/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/support-fragment/25.3.0/assets/
OpenSourceLibrary/build/intermediates/exp
loded-aar/com.android.support/support-fragment/25.3.0/jni/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/support-fragment/25.3.0/res/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.3.0/assets/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.3.0/jni/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.3.0/res/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/support-v4/25.3.0/aidl/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/support-v4/25.3.0/assets/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/support-v4/25.3.0/jni/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/support-v4/25.3.0/res/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.3.0/aidl/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.3.0/assets/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.3.0/jni/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.3.0/res/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/transition/25.3.0/aidl/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/transition/25.3.0/assets/
OpenSourceLibrary/build/intermediates/exploded-aar/com.android.support/transition/25.3.0/jni/
OpenSourceLibrary/build/intermediates/exploded-aar/com.elbbbird.android/socialsdk/0.2.0/aidl/
OpenSourceLibrary/build/intermediates/exploded-aar/com.elbbbird.android/socialsdk/0.2.0/assets/
OpenSourceLibrary/build/intermediates/exploded-aar/io.reactivex/rxandroid/1.2.1/aidl/
OpenSourceLibrary/build/intermediates/exploded-aar/io.reactivex/rxandroid/1.2.1/assets/
OpenSourceLibrary/build/intermediates/exploded-aar/io.reactivex/rxandroid/1.2.1/jni/
OpenSourceLibrary/build/intermediates/exploded-aar/io.reactivex/rxandroid/1.2.1/res/
OpenSourceLibrary/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
OpenSourceLibrary/build/intermediates/incremental/mergeDebugResources/aapt-temp/
OpenSourceLibrary/build/intermediates/incremental/mergeReleaseResources/aapt-temp/
OpenSourceLibrary/build/intermediates/incremental/packageDebugAndroidTest/
OpenSourceLibrary/build/intermediates/incremental/packageDebugResources/aapt-temp/
OpenSourceLibrary/build/intermediates/incremental/packageReleaseResources/aapt-temp/
OpenSourceLibrary/build/intermediates/incremental/processDebugAndroidTestResources/
OpenSourceLibrary/build/intermediates/incremental/processDebugResources/
OpenSourceLibrary/build/intermediates/incremental/processReleaseResources/
OpenSourceLibrary/build/intermediates/jniLibs/
OpenSourceLibrary/build/intermediates/lint/
OpenSourceLibrary/build/intermediates/manifest/tmp/
OpenSourceLibrary/build/intermediates/rs/
OpenSourceLibrary/build/intermediates/shaders/
OpenSourceLibrary/build/intermediates/transforms/
OpenSourceLibrary/build/tmp/
CommonFrame/CommonFrame.iml
OpenSourceLibrary/.idea
OpenSourceLibrary/build
OpenSourceLibrary/OpenSourceLibrary.iml
PushSDK/PushSDK.iml
kongrongqi_shop_android/.idea
kongrongqi_shop_android/build
kongrongqi_shop_android/local.properties
.gradle/3.3/
.idea/dictionaries/
.idea/libraries/WaitingDots_0_4_0.xml
PushSDK/build/
build/android-profile/
build/intermediates/
kongrongqiShop.jks
