<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kongrongqi.shopmall">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/dis"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme">
        <activity
            android:name=".modules.login.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.main.ContainerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".modules.login.LoginActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".modules.login.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".modules.login.AddDevicesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".modules.login.AgreementActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".modules.login.UserSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".modules.me.ListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".modules.me.OpenIvoiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".modules.me.HaveOpenInvoiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".modules.me.PostMailActivity"
            android:screenOrientation="portrait"

            android:theme="@style/AppTheme"/>

        <activity
            android:name=".modules.me.PostMailNewActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".modules.me.ChangeDevicesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".modules.me.ChangeDevicesActivity2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".modules.service.PayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".modules.me.AgreementMeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".modules.service.ProductDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".modules.service.ReceiverAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".modules.service.EditAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".modules.service.JoinGrounpActivty"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".modules.task.UseServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".modules.task.WaitForGrounpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".modules.task.FansBServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".modules.account.ReplaceIMEIActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".modules.account.AddAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".modules.account.AccountListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".modules.account.AccountInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".modules.account.VipServiceInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".modules.account.NoUseServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".modules.account.ServiceDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".modules.account.AddServiceTabActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".modules.account.MoreEquipListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <!-- 支付宝 alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <!-- 支付宝 alipay sdk end -->

        <activity
            android:name=".modules.account.NewDeviceServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".modules.account.ServiceListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>


        <!--交易记录-->
        <activity
            android:name=".modules.me.BuyRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <!--我的会话列表-->
        <activity
            android:name=".modules.me.UserSessionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider"/>
        </provider>


        <!--我的会话列表-->
        <activity
            android:name=".modules.account.AccountScanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <!---->
        <activity
            android:name=".modules.me.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".modules.service.UpLoadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <!--Crash start-->
        <activity
            android:name=".crashMonitor.ui.activity.CrashBaseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".crashMonitor.ui.activity.CrashShowActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".crashMonitor.ui.activity.CrashDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".crashMonitor.ui.activity.CrashListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>


        <activity
            android:name=".modules.me.MeIMEIScanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".modules.service.SelectServiceCTypeActivty"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".modules.task.CallTxtActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".modules.me.FansActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".modules.service.ServiceSetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>


        <activity
            android:name=".modules.service.SelectPackageActivty"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".modules.service.CreatePackageActivty"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <!--Crash end-->
        <meta-data
            android:name="design_width"
            android:value="750"/>
        <meta-data
            android:name="design_height"
            android:value="1334"/>

        <meta-data
            android:name="com.kongrongqi.shopmall.utils.GlideUtil.MyGlideModule"
            android:value="GlideModule"/>


        <meta-data
            android:name="UMENG_APPKEY"
            android:value="592fb8f48f4a9d4f05001c18"/>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="3700a004d893fa66bb92a7fa7f10147a"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng"/>

        <service android:name=".service.TimedRefreshService"/>
        <service android:name=".service.TimedSmsService"/>
    </application>

</manifest>